<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Page Title</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>  
 <link rel="stylesheet" href="css/style.css">
<style>
*{margin: 0; padding: 0;}
.mainHome{display: flex; justify-content: space-around;}
.bannerText{width: 350px; height: 350px; text-align:center;padding:80px 10px 20px 10px; margin-top: 40px; background: rgb(223, 223, 223); color:#fff; display: flex; align-items: center; flex-direction: column;}
.bannerText h1{text-transform: uppercase; font-size: 40px;  padding: 0; margin:0; line-height: 48px; color:#d2691e}
.bannerText p{color:#5f5f5f; margin:20px auto}
.bannerText a{display: inline-block; background:#d2691e; padding:7px 15px; color:#fff; text-decoration: none;}
.bannerText a:hover{background: rgb(182, 85, 15);}

.midd{text-align: center; margin: 40px auto;}
.midd h1{font-size: 35px; line-height: 50px;}
</style>  
</head>
<body>
<div style="width: 100%; padding: 5px 0; background: #ccc;"></div>
<div class="mainHome">
    <div class="bannerText">
        <h1>We will take you wherever you need</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
        <a href="#">Book now</a>
    </div>
<div><img src="images/home-1.png" width="600"></div>
</div>
<section class="midd">
    <h1>Welcome to <br><span style="font-size: 50px;">Online Booking Taxi Service</span></h1>
    <div></div>
</section>
</body>
</html>